@import "../../styles/rwd";

.faq-comp {
  padding: 24px 0 !important;
  overflow: hidden;
}

.accordion-custom {
  width: 100%;

  .accordion-item {
    background-color: transparent;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    .accordion-button, .accordion-body {
      background-color: rgba(255, 255, 255, .1);
    }

    .accordion-button {
      font-family: Impact, sans-serif;
      color: #ffffff;
      font-size: 25px;
      font-weight: bold;

      &:after {
        width: 2rem !important;
        height: 2rem !important;
        border-radius: 100%;
        background-color: #ffffff;
        background-position: center;
      }

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    .accordion-body {
      border-top: 1px solid rgba(255, 255, 255, .4);

      .answer-content {
        font-size: 20px;
        color: #ffffff;

        &:not(:first-child) {
          margin-top: 12px;
        }
      }
    }
  }
}