@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
* {
  font-family: "Quicksand", sans-serif !important;
}

.comp-height {
  min-height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.comp-wave {
  position: absolute;
  width: 100%;
  height: 115px;
  bottom: 0;
  left: 0;
}
