@import "../../styles/rwd.scss";

.collection-comp {
  background-color: #fff;
  padding: 24px 0 !important;
  position: relative;
  &-container {
    .title-container .title {
      color: #000;
    }
  }
  .comp-wave{
    transform: scaleY(-1);
    bottom: -115px;
  }
}

.collection-comp-container .collection-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  @include mobile {
  grid-template-columns: repeat(1, 1fr);
  }
}
