@import "../../styles/rwd";

.banner-comp {
  background-image: url("../../assets/imgs/bgBanner.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  .top-center-shape,
  .right-center-shape {
    position: absolute;
  }

  .top-center-shape {
    width: 300px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .right-center-shape {
    width: 250px;
    height: 400px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &-container {
    padding: 24px 0 !important;
    min-height: calc(100vh - 48px);
    @include mobile {
      min-height: calc(100vh - 56px);
    }
    @include tablet {
      min-height: calc(100vh - 56px);
    }
  }

  @include mobile {
    background-image: unset;
    .right-center-shape,
    .top-center-shape {
      display: none;
    }
  }
  @include tablet {
    background-size: 100% 50%;
    .right-center-shape,
    .top-center-shape {
      display: none;
    }
  }
  @include desktop {
    background-size: 100% 50%;
  }
  @include wide-desktop {
    background-size: 100% 100%;
  }
}

.banner-comp-container .banner-comp-img {
  img {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @include mobile {
    margin-bottom: 24px;
  }
}


.banner-comp-container .banner-comp-content {
  width: 100%;
  padding: 12px;

  .right-side,
  .left-side {
    z-index: 1;
  }

  .left-side .content {
    &-title .title {
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #000;
      @include smallScreen {
        font-size: 26px !important;
      }
      @include mobile {
        font-size: 35px;
      }
      @include tablet {
        font-size: 40px;
      }
    }

    &-subtitle {
      margin-top: 24px;

      .subtitle {
        font-size: 20px;
        line-height: 30px;
        @include smallScreen {
          font-size: 16px;
          line-height: 26px;
        }
        @include mobile {
          text-align: center;
        }
      }

      @include smallScreen {
        margin-top: 12px;
      }
    }
  }

  .right-side {
    img {
      width: 100%;
    }

    @include mobile {
      margin-top: 24px;
    }
  }

  @include mobile {
    padding: 0 !important;
  }
}

.banner-comp-container .banner-comp-content .right-side .mint-box {
  @include desktop {
    padding: 0;
  }
  @include wide-desktop {
    padding: 24px;
  }
}
